@media (width >= 576px){
    header{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    nav{
        margin-top: 0;
    }
    .wrapper {
        width: 420px;
    }

}