:root{
    --color-post-it-yellow: #ffff80;
    --color-blue: #1982C4;
    --color-post-it-pink: #ff7eb9;
    --colorpost-it-blue: #7afcff;
    --fs-large: 3rem;
    --fs-normal: 2.5rem;
    --fs-medium: 2rem;
    --fs-xs: 1.5rem;
    --fm-primary:'Roboto', sans-serif;
    --fs-secondary: 'Dancing Script', cursive;;
}