:root{
    --color-post-it-yellow: #ffff80;
    --color-blue: #1982C4;
    --color-post-it-pink: #ff7eb9;
    --colorpost-it-blue: #7afcff;
    --fs-large: 3rem;
    --fs-medium: 2rem;
    --fs-xs: 1.5rem;
    --fm-primary:'Roboto', sans-serif;
    --fs-secondary: 'Dancing Script', cursive;;
}
/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--fm-primary);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin-top: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-xl{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
/* HEADER  */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 2rem;
    gap: 15px;
}
header nav a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
header ul{
    display: flex;
    gap: 3rem;
}
nav a{
    color: var(--color-blue);
}

h1{
    margin: 20px 0;
    font-size: var(--fs-large);
    text-transform: capitalize;
}
h2, i{
    display: inline;
    font-size: var(--fs-medium);
    text-transform: capitalize;
}
i{
    color: var(--color-blue);
}
.add-post-it{
    font-size: var(--fs-medium);
    padding: 10px;
    background-color: var(--color-blue);
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
}
.top-post-it{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article{
    font-family: var(--fs-secondary);
    margin-top: 40px;
    width: 330px;
    background-color: var(--color-yellow);
    text-align: start;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--color-post-it-yellow);
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.todo{
    margin: 10px 10px 0px 20px;
    font-size: var(--fs-medium);
}
.date{
    margin: 10px 20px 0px 10px;
    font-size: var(--fs-xs);
    text-align: end;
}

@media (width >= 576px){
    header{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    nav{
        margin-top: 0;
    }

}