:root{
    --color-post-it-yellow: #ffff80;
    --color-blue: #1982C4;
    --color-post-it-pink: #ff7eb9;
    --colorpost-it-blue: #7afcff;
    --fs-large: 3rem;
    --fs-normal: 2.5rem;
    --fs-medium: 2rem;
    --fs-xs: 1.5rem;
    --fm-primary:'Roboto', sans-serif;
    --fs-secondary: 'Dancing Script', cursive;;
}
/* GLOBAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--fm-primary);
}

a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
    margin-top: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-xl{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
/* HEADER  */
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 2rem;
    gap: 15px;
}
header nav a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
header ul{
    display: flex;
    gap: 3rem;
}
nav a{
    color: var(--color-blue);
}

h1{
    margin: 20px 0;
    font-size: var(--fs-large);
    text-transform: capitalize;
}
h2, i{
    font-size: var(--fs-large);
}
h2{
    display: inline;

    text-transform: capitalize;
}
i{
    color: var(--color-blue);
}
.add-post-it{
    font-size: var(--fs-medium);
    padding: 10px;
    background-color: var(--color-blue);
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
}
.top-post-it{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article{
    font-family: var(--fs-secondary);
    margin-top: 40px;
    width: 330px;
    background-color: var(--color-yellow);
    text-align: start;
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: var(--color-post-it-yellow);
    position: relative;
}
.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.todo{
    margin: 10px 10px 0px 20px;
    font-size: var(--fs-medium);
}
.date{
    margin: 10px 20px 0px 10px;
    font-size: var(--fs-xs);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
p{
    font-size: var(--fs-normal);
}
.description{
    margin: 20px 0;
}

/* Login */
.bg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    background:url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 320px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input, textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
textarea{
    height: 100px;
    resize: none;
}
.input-box input::placeholder, textarea::placeholder{
    color: #fff;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: white;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-top: 50px;
}

@media (width >= 576px){
    header{
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    nav{
        margin-top: 0;
    }
    .wrapper {
        width: 420px;
    }

}