*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 25px;
}
header a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;

}
header ul{
    display: flex;
    gap: 30px;
}
ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-xl{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
h1{
    margin: 20px 0;
    text-transform: capitalize;
}
.add-post-it{
    padding: 10px;
    background-color: blue;
    color: white;
}
article{
    font-family: 'Dancing Script', cursive;
    margin-top: 20px;
}
.content{
    display: flex;
    justify-content: space-between;
}