header{
    @include flex-jcbetween-ai-center;
    border-bottom: 1px solid gray;
    font-size: 2rem;
}
header nav a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
header ul{
    display: flex;
    gap: 3rem;
}
header img{
    width: 10rem;
}
header a{
    color: var(--color-blue);
}